<!DOCTYPE html>
<html>
<head>
    <title>Order Confirmation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Order Confirmation</h1>
    <center>
        <h6>Submitted by: {{submittedBy}}</h6>
        <h6>Date Submitted: {{sDate}}</h6>
    </center>
    <p><strong>Project Number: </strong>{{projectNo}}</p>
    <p><strong>Date Required: </strong>{{rDate}}</p>
    <p><strong>Order Number: </strong>{{orderNo}}</p>

    <p><strong>Notify Contact:</strong> {{name}}</p>

    <table>
        <tr>
            <th>Order Item</th>
            <th>File Name</th>
            <th>Page</th>
            <th>Copies</th>
            <th>Size</th>
            <th>Note</th>
        </tr>
        
        {{orderDetail}}
    </table>


</body>
</html>
